<%# <style media="screen">
  ul {
    list-style-type: none;
  }
</style>%>

<h1>Welcome to Music Discovery!</h1>

<% for(let i = 0; i < songs.length; i++) { %>
  <form action="/likeSong" method="post">
    <ul>
     <li><%= songs[i].title %></li>
     <li><%= songs[i].imageID %></li>
     <li><%= songs[i].audioID %></li>
     <li><%= songs[i].numberOfLikes %></li>
    </ul>
    <input type="hidden" id="id" name="id" value=<%= songs[i].audioID %>>
    <button type="submit">Like Song</button>
  </form>
<% } %>
